<?xml version="1.0" ?>
 <configuration>
    <!-- 根据部署客户端项目的服务器IP，来配置后台服务和地图服务 -->
    <!-- 公司内网服务器 -->
    <when  clientIP="10.201.61.11">
         <WebService>http://10.201.61.11:9080/KDDCESBServer</WebService>
         <GPSService>http://10.201.61.11:7676/KDUMGpsServer</GPSService>
         <MapService>http://10.201.61.23:8399/arcgis/rest/services/zhuhai</MapService>
         <GeometryService>http://10.201.61.23:8399/arcgis/rest/services/Geometry/GeometryServer</GeometryService>
         <GeoService>http://10.201.61.23:8080/geoserver</GeoService>
         <MapPicService>http://19.48.25.9/ZHUM.GIS/PartPIC/</MapPicService>
    </when>
    <!-- 如果部署客户端项目的服务器IP，不和上面任意一项匹配，则匹配下面的选项，本机调试时请修改配置-->
    <!-- 开发人员电脑-->
    <when  clientIP="localhost">
         <WebService>http://10.201.61.11:9080/KDDCESBServer</WebService>
         <GPSService>http://10.201.61.11:7676/KDUMGpsServer</GPSService>
         <MapService>http://10.201.61.23:8399/arcgis/rest/services/zhuhai</MapService>
         <GeometryService>http://10.201.61.23:8399/arcgis/rest/services/Geometry/GeometryServer</GeometryService>
         <GeoService>http://10.201.61.23:8080/geoserver</GeoService>
         <MapPicService>http://127.0.0.1:8080/ZHUM.GIS/PartPIC/</MapPicService>
    </when>
    <!-- 现场环境 -->
     <when  clientIP="19.48.25.8">
         <WebService>http://19.48.25.29:9090/KDDCESBServer</WebService>
         <GPSService>http://19.48.25.47:7676/KDUMGpsServer</GPSService>
         <MapService>http://19.48.25.9:8399/arcgis/rest/services/zhuhaierqi</MapService>
         <GeometryService>http://19.48.25.9:8399/arcgis/rest/services/Geometry/GeometryServer</GeometryService>
         <GeoService>http://19.48.25.9:8089/geoserver</GeoService>
         <MapPicService>http://19.48.25.9/ZHUM.GIS/PartPIC/</MapPicService>
    </when>
</configuration>
