@path: '/static/img';

// ()可以避免作为css类显示
.reset {
    margin: 0;
    padding: 0;
    border: 0;
}

.full {
    .reset;
    height: 100%;
    width: 100%;
}

.abs {
    position: absolute;
}

.loading {
    animation: ani-demo-spin 1s linear infinite;
    @keyframes ani-demo-spin {
        from { transform: rotate(0deg);}
        50%  { transform: rotate(180deg);}
        to   { transform: rotate(360deg);}
    }
}

.unselectable {
    user-select: none;
}

// 对齐
.align(@param: none) {
    text-align: @param
}

// 背景色
.bcolor(@param) {
    background-color: @param;
}

// border颜色
.border(@color, @size: 1px) when (iscolor(@color)) and (default()) {
    border: @size solid @color;
}

.border(@base, @color, @size: 1px) when (iscolor(@color)) {
    border-@{base}: @size solid @color;
}

// flex布局 row column
.flex(@direction: row) {
    display: flex;
    flex-direction: @direction;
}