@line : 1px solid black;
.reset {
    margin: 0;
    padding: 0;
    border: 0;
}

.full {
    .reset;
    height: 100%;
    width: 100%;
}

.border-box {
    box-sizing: border-box;
}

// 对齐
.align(@param) {
    text-align: @param
}

// 背景色
.bcolor(@param) {
    background-color: @param;
}

// flex布局 row column
.flex(@direction) {
    display: flex;
    flex-direction: @direction;
}