@header: 34px; // 地图头部高度
@aside: 45px; // 地图左侧菜单宽度
@footer: 25px; // 地图底部高度
// 模组操作窗口
@m-width: 349px; // 窗口宽度
@m-padding: 15px 20px;
@m-title: 45px; // 模组名称占用高度
@m-close-fontSize: 25px; // 窗口关闭icon的字体大小