@import 'iview/dist/styles/iview.css';
@import "basic.less";
// iview相关
.input-icon(@color: #80848f, @hover-color: #3fb457) {
    .ivu-input-icon {
        color: @color;
        cursor: pointer;
        &:hover {
            color: @hover-color;
        }
    }
}
.input-icon;
.ivu-message {
    font-size: 15px;
}

// switch样式
.switch(@height: 24px, @width: 48px, @afterWidth: 20px) {
    .ivu-switch {
        width: @width;
        height: @height;
        line-height: @height - 2px;
        border-radius: @height;
        &:after {
            width: @afterWidth;
            height: @height - 4px;
            border-radius: @height - 4px;
        }
    }
    .ivu-switch-checked {
        &:after {
            left: @width - @afterWidth - 4px;
        }
    }
}
.switch(22px, 44px);

// 一些其他相关的全局样式
.module {
    .typeSelect {
        line-height: 32px;
        >* {
            vertical-align: middle;
        }
    }
}

// c-tree
.c-tree {
    * {
        font-size: 15px
    }
    overflow-y: scroll;

    span.c-tree-node {
        cursor: pointer;
        padding: 3px 5px;
        display: inline-block;
        width: ~"calc(100% - 26px)";
        &:hover, &.select {
            border: 1px solid #FFB951;
        }
        &.select {
            background-color: #FFE6B0;
        }
        .ivu-icon {
            margin-right: 7px;
        }
    }

    // 存在复选框时候样式
    &.checkable {
        .ivu-checkbox-wrapper {
            margin: 0;
        }
        span.c-tree-node {
            width: ~"calc(100% - 44.5px)";
        }
    }
}

//c-result
section.c-result {
    // Result(搜索结果集合样式)，可在vue文件中进行二次覆盖
    .result() {
        font-size: 13px;
        padding: 7px 16px;
        margin-bottom: 1px;
        border: 1px solid #E5E5E5;
        background: linear-gradient(to bottom, #f7f7f7 0%, #e0e0e0 100%);
        &:hover, &.select {
            background: #B9E0F7;
        }
        &.select {
            color: #fff;
            background: #35AC46;
        }
    }

    .flex(column);
    > * {
        width: 100%;
    }
    position: relative;
    ul.c-result-ul {
        flex: 1;
        overflow-y: scroll;
        list-style-type: none;
        li {
            cursor: pointer;
            .result;
        }
    }
    .page {
        .reset;
        padding-top: 10px;
    }
}