@import 'iview/dist/styles/iview.css';
// iview相关
.input-icon(@color: #80848f, @hover-color: #3fb457) {
    .ivu-input-icon {
        color: @color;
        cursor: pointer;
        &:hover {
            color: @hover-color;
        }
    }
}

.input-icon;
// 一些其他相关的全局样式
.module {
    .typeSelect {
        line-height: 32px;
        >* {
            vertical-align: middle;
        }
    }
}