@import 'iview/dist/styles/iview.css';
@import "basic.less";
// iview相关
.input-icon(@color: #80848f, @hover-color: #3fb457) {
    .ivu-input-icon {
        color: @color;
        cursor: pointer;
        &:hover {
            color: @hover-color;
        }
    }
}
.input-icon;

.ivu-message {
    font-size: 15px;
}

// switch样式
.switch(@height: 24px, @width: 48px, @afterWidth: 20px) {
    .ivu-switch {
        width: @width;
        height: @height;
        line-height: @height - 2px;
        border-radius: @height;
        &:after {
            width: @afterWidth;
            height: @height - 4px;
            border-radius: @height - 4px;
        }
    }
    .ivu-switch-checked {
        &:after {
            left: @width - @afterWidth - 4px;
        }
    }
}
.switch(22px, 44px);

// 一些其他相关的全局样式
.module {
    .typeSelect {
        line-height: 32px;
        >* {
            vertical-align: middle;
        }
    }
}

// c-tree
.c-tree {
    * {
        font-size: 15px;
    }
    overflow-y: auto;

    span.c-tree-node {
        .border(transparent);
        cursor: pointer;
        padding: 3px 5px;
        display: inline-block;
        width: ~"calc(100% - 26px)";
        &:hover, &.select {
            .border(#FFB951);
        }
        &.select {
            .bcolor(#FFE6B0);
        }
        .ivu-icon {
            margin-right: 7px;
        }
        &.icon > * {
            vertical-align: middle;
        }
    }

    // 存在复选框时候样式
    &.checkable {
        .ivu-checkbox-wrapper {
            margin: 0;
        }
        span.c-tree-node {
            width: ~"calc(100% - 44.5px)";
        }
    }
}

//c-result
.c-result {
    .result() {
        .border(#E5E5E5);
        font-size: 16px;
        padding: 7px 16px;
        margin-bottom: 1px;
        line-height: 35px;
        background: rgb(247, 247, 247);
        &:hover {
            background: #B9E0F7;
        }
        &.select {
            color: #fff;
            background: #35AC46;
        }
    }

    .flex(column);
    > * {
        width: 100%;
    }
    color: #000;
    position: relative;
    > ul.c-result-ul {
        flex: 1;
        overflow-y: auto;
        list-style-type: none;
        > li {
            cursor: pointer;
            .result;
        }
    }
    .page {
        .reset;
        padding-top: 10px;
    }
}
// search组件result样式覆盖
.search {
    ul.search-ul {
        li {
            font-size: 14px;
            min-height: 65px;
            line-height: normal;
            background: linear-gradient(to bottom, #f7f7f7 0%, #e0e0e0 100%);
        }
    }
}

.sprite() {
    background-image: url('@{path}/sprite.png');
    background-repeat: no-repeat;
}
.plus {
    .sprite();
    background-position: -117px -149px;
    &:hover {
        background-position: -189px -149px;
    }
}
.global {
    .sprite();
    background-position: -117px -222px;
    &:hover {
        background-position: -189px -222px;
    }
}
.minus {
    .sprite();
    background-position: -117px -186px;
    &:hover {
        background-position: -189px -186px;
    }
}
.streetView {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('@{path}/streetView_30.png');
    &:hover {
        background-image: url('@{path}/streetView_select_30.png');
    }
}
.location {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('@{path}/locate_30.png');
    &:hover {
        background-image: url('@{path}/locate_select_30.png');
    }
}
.drawFence {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('@{path}/drawFence_30.png');
    &:hover {
        background-image: url('@{path}/drawFence_select_30.png');
    }
}

// 其他样式
.loading {
    animation: ani-demo-spin 1s linear infinite;
    @keyframes ani-demo-spin {
        from { transform: rotate(0deg);}
        50%  { transform: rotate(180deg);}
        to   { transform: rotate(360deg);}
    }
}

.unselectable {
    user-select: none;
}
.reset {
    .reset();
}

.full {
    .full();
}

.abs {
    .abs();
}
